# MacOS cached files
.DS_Store

#directories to ignore
raw_data/
read_QC/
busco_downloads/
busco_217943.log
assemblies/
k-mer_counting/
assembly_assessement/
logs/
out/
err/

#filetypes to ignore
*.zip
*.gz
